<p class="main header"> List of HLDs</p>

    <table class = "styled-table">
        <thead>
            <tr>
                <th> Id </th>
                <th> Komponent </th>
                <th> Opis </th>
                <th> Link do dokumentacji na serwerze </th>
                <th> Akcja </th>

            </tr>
        </thead>
        <tbody>
            @for (hld of hldList(); track hld.id) {
                <tr>
                    <td> {{ hld.id }} </td>
                    <td> {{ hld.name }} </td>
                    <td> {{ hld.description }} </td>
                    <td> <a href="{{ hld.link }}" target="_blank"> {{ hld.link }} </a> </td>
                    <td> ACTION PLACEHOLDER </td>
                    <td><button class="btn btn-primary">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>

    <p> Add a new HLD </p>
    <div class="data-container">
        <div class="forms-row">
            <form class="hld-form" [formGroup]="hldForm" (ngSubmit)="onAddHld()">
                <div class="hld-form-grid">
                    <div class="hld-field">
                        <label for="hld-name"> Komponent</label>
                        <input id="hld-name" formControlName="name" type="text" class="form-control" placeholder="np. ABC">
                    </div>

                    <div class="hld-field">
                        <label for="hld-description"> Opis </label>
                        <input id="hld-description" formControlName="description" type="text" class="form-control" placeholder="np. Opis komponentu">
                    </div>

                    <div class="hld-field">
                        <label for="hld-link"> Link do dokumentacji na serwerze </label>
                        <input id="hld-link" formControlName="link" type="text" class="form-control" placeholder="np. http://example.com/docs">
                    </div>

                    <div class = "hld-field-actions">
                        <button type="submit" class="btn"> Add new HLD </button>
                    </div>
                </div>
            </form>
            <app-hld-mini-form [formik]="miniForm"></app-hld-mini-form>
        </div>
        
        <!-- <pre> {{hldForm.value | json }} </pre> -->
    </div>
