
<p class="main header"> List of Todos of List</p>

    <table class = "styled-table">
        <thead>
            <tr>
                <th> Id </th>
                <th> Title </th>
                <th> Completed </th>
            </tr>
        </thead>
        <tbody>
            @for (todo of todosSignal(); track todo.id) {
                <tr>
                    <td> {{ todo.id }} </td>
                    <td> {{ todo.title }} </td>
                    <td> {{ todo.completed }} </td>
                </tr>
            }
        </tbody>
    </table>