<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="cars.length > 0 else noCarsInfo" class="cs-table table table-striped">
                <thead>
                <tr>
                    <th>car</th>
                    <th>plate</th>
                    <th>delivery date</th>
                    <th>deadline</th>
                    <th>client</th>
                    <th>cost</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let car of cars; trackBy: trackById">
                    <td [ngClass]="{'row-error': car.isFullyDamaged}">{{ car.model }}</td>
                    <td>{{ car.plate }}</td>
                    <td>{{ car.deliveryDate }}</td>
                    <td>{{ car.deadline }}</td>
                    <td>{{ car.client.firstName }} {{ car.client.surname }}</td>
                    <td>{{ car.cost }}</td>
                    <td> ACTION PLACEHOLDER </td>
                    <td><button class="btn btn-primary">Edit</button></td>
                </tr>
                </tbody>
            </table>
            <ng-template #noCarsInfo>
                <div class="no-cars-info">
                    <p>Currently no cars in service</p>
                </div>
            </ng-template>
        </div>
    </div>
    <cs-total-cost [totalCost]="totalCost3" (shownGross)="onShownGross ($event)"> SHOW GROSS </cs-total-cost>
    <div class="row" *ngIf="grossCost">
        <div class="col-sm-12">
            <div class="total-cost">
                <p class="text-right"> TOTAL GROSS COST: {{ grossCost }} PLN</p>
            </div>

    </div>
 </div>

 <p > Add a new CAR</p>
 <div >
    <form [formGroup]="carForm">
        <div>
            <label> Model </label>
            <input formControlName="model" type="text" placeholder="model"/>
            <label> Plate </label>
            <input formControlName="plate" type="text" placeholder="plate"/>
            <label> Delivery Date </label>          
            <input formControlName="deliveryDate" type="date" placeholder="delivery date"/>
            <label> Deadline </label>
            <input formControlName="deadline" type="date" placeholder="deadline"/>
            <label> Client First Name </label>
            <input formControlName="clientFirstName" type="text" placeholder="client first name"/>
            <label> Client Surname </label> 
            <input formControlName="clientSurname" type="text" placeholder="client surname"/>
            <label> Cost </label>
            <input formControlName="cost" type="number" placeholder="cost"/>
        </div>
            
    </form>]

 </div>